<div class="container">
 <div class="row">
 <div class="col-sm-8">
 <div class="top-index-image" style="background: url('<%= asset_path 'top/logo.png' %>'); background-repeat: no-repeat;"></div>
 </div>
  <div class="container1">
  <div class="col-sm-4">
 <div style="background-color: #eeeeee; border-radius: 20px;  padding: 20px;">
  <pre><center><p>新規登録の方はこちら</br>
  <button type="button" class="btn btn-success"><%= link_to 'いますぐ始める（無料）', new_user_registration_path %></button>
  or<br/>
  外部アカウントで簡単登録<br/>
  <span style="font-size:small;">※許可無く投函することはございません。</span></br>
  <button type="button" class="btn btn-primary">Facebookで登録する</button></center></pre>
 </div>
  </div>
  <div class="col-sm-12">
    <center><ul>
      <button type="button" class="btn btn-info" style="padding: 10px 50px; margin-bottom: 30px; "><li><%= link_to '不登校生', student_user_path %></li></button>
      <button type="button" class="btn btn-warning" style="padding: 10px 50px; margin-bottom: 30px;"><li><%= link_to '親御様', parent_path %></li></button>
      <button type="button" class="btn btn-success" style="padding: 10px 50px; margin-bottom: 30px;"><li><%= link_to '元不登校生', support_path %></li></button>
      <button type="button" class="btn btn-primary" style="padding: 10px 50px; margin-bottom: 30px;"><li><%= link_to 'カウンセラー', support_path %></li></button>
    </ul></center>
  </div>
  </div>
 </div>
 </div>
<div class="top-index-search">
  <% if user_signed_in? %>
    <% if current_user.user_type == 1 || current_user.user_type == 2 %>
      <%= link_to 'サポーター検索', supporters_path %>
    <% elsif current_user.user_type == 3 %>
      <%= link_to '生徒検索', students_path %>
    <% end %>
      <%= link_to 'ダイアリーを読む', diaries_path %>
  <% end %>
</div>

<p>先輩に会うメニュー</p>
<ul>
    <li><%= link_to '男性', search_supporters_path(sex: "男"), method: :post %></li>
    <li><%= link_to '女性', search_supporters_path(sex: "女"), method: :post %></li>
    <li><%= link_to '15〜20歳', search_supporters_path(min_age: 15, max_age: 20), method: :post %></li>
    <li><%= link_to '21〜25歳', search_supporters_path(min_age: 21, max_age: 25), method: :post %></li>
    <li><%= link_to '26〜30歳', search_supporters_path(min_age: 26, max_age: 30), method: :post %></li>
    <li><%= link_to '31〜35歳', search_supporters_path(min_age: 31, max_age: 35), method: :post %></li>
    <li><%= link_to '36〜40歳', search_supporters_path(min_age: 36, max_age: 40), method: :post %></li>
    <li><%= link_to '41〜45歳', search_supporters_path(min_age: 41, max_age: 45), method: :post %></li>
    <li><%= link_to '46〜50歳', search_supporters_path(min_age: 46, max_age: 50), method: :post %></li>
    <li><%= link_to '51〜55歳', search_supporters_path(min_age: 51, max_age: 55), method: :post %></li>
    <li><%= link_to '55〜60歳', search_supporters_path(min_age: 56, max_age: 60), method: :post %></li>
    <li><%= link_to '61歳以上', search_supporters_path(min_age: 61), method: :post %></li>
</ul>
<%= form_tag search_supporters_path do %>
    <%= select_tag :absence_trigger, options_for_select({"学級崩壊" => "classroom", "いじめ" => "harm", "学校への苦手意識" => "antipathy", "先生との関係" => "teacher", "友人関係" => "friendship", "勉強" => "study", "転校・転勤" => "change_school", "育児放棄" => "neglect", "家庭内暴力" => "dv", "経済的理由" => "poverty", "離婚などの親同士の関係" => "parents", "なんとなく" => "no_reason"}), include_blank: true %>
    <%= submit_tag('検索') %>
<% end %>

<script>
//背景色の変更
   $("body").css("background-color","#FFF");
</script>