<div class="container">
 <div class="row">
 <div class="col-sm-8">
 <div class="top-index-image" style="background: url('<%= asset_path 'top/logo.png' %>'); background-repeat: no-repeat;"></div>
 </div>
  <div class="container1">
  <div class="col-sm-4">
 <div style="background-color: #eeeeee; border-radius: 20px;  padding: 20px;">
  <pre><center><p>新規登録の方はこちら</br>
  <button type="button" class="btn btn-success"><%= link_to 'いますぐ始める（無料）', new_user_registration_path %></button>
  or<br/>
  外部アカウントで簡単登録<br/>
  <span style="font-size:small;">※許可無く投函することはございません。</span></br>
  <button type="button" class="btn btn-primary"><%= link_to 'Facebookで登録する', user_omniauth_authorize_path(:facebook) %></button></center></pre>
 </div>
  </div>
  <div class="col-sm-12">
    <center><ul>
      <button type="button" class="btn btn-info" style="padding: 10px 50px; margin-bottom: 30px; "><li><%= link_to '不登校生', student_user_path %></li></button>
      <button type="button" class="btn btn-warning" style="padding: 10px 50px; margin-bottom: 30px;"><li><%= link_to '親御様', parent_path %></li></button>
      <button type="button" class="btn btn-success" style="padding: 10px 50px; margin-bottom: 30px;"><li><%= link_to '元不登校生', support_path %></li></button>
      <button type="button" class="btn btn-primary" style="padding: 10px 50px; margin-bottom: 30px;"><li><%= link_to 'カウンセラー', support_path %></li></button>
    </ul></center>
  </div>
  </div>
 </div>
 </div>
<div class="top-index-search">
  <% if user_signed_in? %>
    <% if current_user.user_type == 1 || current_user.user_type == 2 %>
      <%= link_to '先輩検索', supporters_path %>
    <% elsif current_user.user_type == 3 %>
      <%= link_to '生徒検索', students_path %>
    <% end %>
      <%= link_to 'ダイアリーを読む', diaries_path %>
  <% end %>
</div>

<script>
//背景色の変更
   $("body").css("background-color","#FFF");
</script>