<div class="nav">
    <%= link_to 'TOP', root_path %> > <%= link_to 'マイページ', user_path(current_user.id) %> > <%= link_to 'メッセージボックス' , messages_path %> > <%= link_to '新規作成', new_message_path %>
</div>

<h1>メッセージを送る</h1>

<% if @message.errors.any? %>
  <h2><%= @message.errors.count %>件のエラーがあります</h2>
  <ul>
    <% @message.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<% if @receiver.name.present? %>
  <p>宛先：<%= @receiver.name %></p>
<% else %>
  <p>宛先：匿名（ID: <%= params[:receiver_id] %>）</p>
<% end %>

<%= form_for @message do |f| %>
  <%= f.label :title, '件名' %>
  <%= f.text_field :title %><br />
  <%= f.label :title, '本文' %>
  <%= f.text_area :message, rows: 15, cols: 60 %><br />
  <%= f.hidden_field :sender_id, value: current_user.id %><br />
  <%= f.hidden_field :receiver_id, value: params[:receiver_id] %>
  <%= f.hidden_field :sent, value: 1 %>
  <%= f.submit '送信' %>
<% end %>

<% if @messages.present? %>
  <% @messages.each do |msg| %>
    <div class="past-message">
      <p>From <%= @receiver.name %> To <%= current_user.name %></p> 
      <p>受信日時： <%= msg.created_at.strftime("%Y年%m月%d日 %H時%M分") %></p>
      <p><%= simple_format(msg.message) %></p>
     </div>
  <% end %>
<% end %>