<div class="content600">
<h1>メッセージを送る</h1>

<% if @message.errors.any? %>
  <h2><%= @message.errors.count %>件のエラーがあります</h2>
  <ul>
    <% @message.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
 <div class="space">
   <% if @receiver.user_type == 3 %>
    <%= link_to supporter_path(@receiver.id) do %>
        宛先：<%= @receiver.username %>
    <% end %>
   <% else %>
    <%= link_to student_path(@receiver.id) do %>
        宛先：<%= @receiver.username %>
    <% end %>
   <% end %>
</div>
<%= form_for @message, remote: true do |f| %>
<div class="space">
  <%= f.label :title, '件名' %>
  <%= f.text_field :title %>
  </div>
  <div class="space">
  <%= f.label :title, '本文' %>
  <%= f.text_area :message, rows: 15, cols: 60 %><br />
  <%= f.hidden_field :sender_id, value: current_user.id %><br />
  <%= f.hidden_field :receiver_id, value: params[:receiver_id] %>
  <%= f.hidden_field :sent, value: 1 %>
  <%= f.submit '送信' %>
<% end %>
</div>
</div>
<div id="messages_list_view">
  <%= render partial: 'messages_list', locals: { messages: @messages } %>
</div>
