<div id="wrap">
<div class="touroku" style="background-color:#f5f6d9;">
<div class="container content600">
<div class="low">
   <div class="col-ms-6 col-ms-offset-3">
<center><h2 style="font-size:1.5em;">新規会員登録</h2></br></center>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

<div class="form-group new-touroku">
  <div class="col-xs-10 col-sm-10 col-md-4">
    <%= f.label :email, 'メールアドレス' %>
  </div>
  <div class="col-xs-10 col-sm-10 col-md-8">
      <%= f.email_field :email, class: 'form-control'%><br />
  </div>
  <div class="col-xs-10 col-sm-10 col-md-4">
    <%= f.label :password, 'パスワード' %>
    <% if @minimum_password_length %>
    <p><em>(<%= @minimum_password_length %>文字以上)</em></p>
    <% end %>
  </div>
  <div class="col-xs-10 col-sm-10 col-md-8">
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div><br />
  <div class="col-xs-10 col-sm-10 col-md-4">
    <%= f.label :password_confirmation, 'パスワード（確認）' %>
  </div>
  <div class="col-xs-10 col-sm-10 col-md-8">
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div><br />
</div>

<select multiple class="form-control" style="padding: 30px;">
  <option>利用規約</option>
  <option>本利用規約（以下「本規約」といいます。）には、株式会社Marianne（以下「当社」といいます。）の提供するサービスのご利用にあたり、 登録メンバーの皆様に遵守していただかなければならない事項及び当社と登録メンバーの皆様との間の権利義務関係が定められております。
当該サービスを登録メンバーとしてご利用になる方は、本規約に同意する前に、必ず全文お読み下さいますようお願い致します。</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
</select></br>

  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-8  btn-mar-left">
      <%= f.submit "規定に同意して登録する",class: "btn btn-primary"  %>
    </div>
  </div>
</div>

  
<% end %>

<%#= render "devise/shared/links" %>
</div>
</div>
</div>
</div>