<div class="nav">
    <%= link_to 'TOP', root_path %> > <%= link_to '生徒を探す', students_path %>
</div>

<%#= render 'shared/search_condition' %>

<div class="students-index-profiles">
  <% @students.each do |st| %>
  <div class="students-index-profile">
    <div class="students-index-image">
      <% if st.avatar.present? %>
      <%= link_to image_tag(st.avatar(:thumb)), student_path(st.id) %>
      <% else %>
      <%= link_to image_tag('top/clue.png', class: "no-image"), student_path(st.id) %>
      <% end %>
      <p class="area"><%= st.area %></p>
    </div>
    <div class="students-index-data">
      <p><%= link_to st.username, student_path(st.id) %></p>
      <p><%= st.grade %></p>
      <p><%= link_to 'ダイアリー', search_diaries_path(user_id: st.id), method: :post %></p>
    </div>
  </div>
  <% end %>
<div class="clear"></div>
</div>
