<div class="user-show-profile">

    <div class="container">
      <div class="row">
        
            <h1>生徒情報</h1>
        
            <center>
            <ul>
            <% if @student.avatar? %>
                <li><%= image_tag(@student.avatar(:thumb)) %></li>
            <% end %>
            </ul>
            </center>
        
         
            <table class="table table-bordered">
                <tr>
                    <th>氏名</th>
                    <td><%= @student.username %></td>
                </tr>
                <th>地域</th>
                <td><%= @student.area %></td>
                <tr>
                <th>学年</th>
                <td><%= @student.grade %></td>
                </tr>
                <tr>
                <th>性別</th>
                <td><%= @student.sex %></td>
                </tr>
                <tr>
                <th>年齢</th>
                <td><%= @student.age %>歳</td>
                </tr>
                <tr>
                <th>プロフィール</th>
                <td><p><%= simple_format(h(@student.profile)) %></p></td>
                </tr>
                </table>
        </div><!-- row -->

        <div class="user-show-edit-btn">
            <ul>
                <li><%= link_to 'メッセージを送る', new_message_path(receiver_id: @student.id) %></li>
                <li><%= link_to 'メッセージボックス', messages_path %></li>
                <li><%= link_to 'ダイアリーを読む', search_diaries_path(user_id: params[:id]), method: :post %></li>
            </ul>
        </div>
        
     </div><!-- end of container -->
</div><!-- end of user-show-profile -->

<div class="clear"></div>