<div class="diary-index">
    <div class="diary-search-panel">
        <%= form_tag search_diaries_path do %>
        <%= select_tag :category, options_for_select(@categories) %>
        <%= submit_tag('検索') %>
        <% end %>
    </div>
    <h1>Diary</h1>
    <p>日常生活で思うことやストレスを吐き出す場として使って下さい</p>
    <% @diaries.each do |diary| %>
    <hr />
    <div class="diary-index-item">
        <div class="diary-index-image">
            <% if diary.user.avatar? %>
                <%= image_tag(diary.user.avatar(:thumb)) %>
            <% else %>
                <%= image_tag('top/clue.png') %>
            <% end %>
        </div>
        <div class="diary-index-title">
            <p><%= diary.post_date %> <%= diary.category %></p>
            <h2><%= link_to diary.title, diary_path(diary.id) %></h2>
            <p>by <%= diary.user.username %> Comment (<%= diary.comments.count %>)</p>
        </div>
        <div class="clear"></div>
    </div>
    <% end %>
    <hr />
</div>

