<p class="notice"><%= @notice if @notice.present? %></p>
<p><%= @full %></p>
<div class="content600">
<h1>プロフィールの登録</h1>

<p>
<%= params[:user][:family_name] %>
<%= params[:user][:first_name] %>
<%= params[:user][:family_name_kana] %>
<%= params[:user][:first_name_kana] %>
<%= params[:user][:grade] %>
</p>

<table class="table table-bordere">
    <%= form_tag update_add_info_users_path, multipart: true do %>
    <tr><th><%= label :user, :family_name, '姓*' %></th><td><%= text_field :user, :family_name, autofocus: true, placeholder: "姓" %></td></tr>
    <tr><th><%= label :user, :first_name, '名*' %></th><td><%= text_field :user, :first_name, placeholder: "名" %></td></tr>
    <tr><th><%= label :user, :family_name_kana, 'メイ*' %></th><td><%= text_field :user, :family_name_kana, placeholder: "セイ" %></td></tr>
    <tr><th><%= label :user, :family_name_kana, 'セイ*' %></th><td><%= text_field :user, :first_name_kana, placeholder: "メイ" %></td></tr>
    <tr><th><%= label :user, :post_number, '郵便番号' %></th><td><%= text_field :user, :post_number %></td></tr>
    <tr><th><%= label :user, :area, '地域*' %></th><td><%= select :user, :area, @area %></td></tr>
    <tr><th><%= label :user, :address, '住所' %></th><td><%= text_field :user, :address %></td></tr>
    <tr><th><%= label :user, :tel, '電話番号' %></th><td> <%= text_field :user, :tel %></td></tr>
    <tr><th><%= label :user, :line_id, 'LINE ID' %></th><td> <%= text_field :user, :line_id %></td></tr>
    <tr><th><%= label :user, :permit_info_mail, 'お知らせメール*' %></th><td><%= select :user, :permit_info_mail, [['Clueの情報をメールで受け取る', 1], ['お知らせメールを受けとらない', 0]] %></td></tr>
    <% if @user.user_type == 1 %>
    <tr><th><%= label :user, :grade, '学年*' %></th><td><%= select :user, :grade, @grade, include_blank: true %></td></tr>
    <% elsif @user.user_type == 3 %>
    <tr><th><%= label :user, :job, '職業*' %></th><td> <%= select :user, :job, @job %></td></tr>
    <% end %>
    <tr><th><%= label :user, :absent_span, '学校に行かなくなった時期*' %></th><td><%= select :user, :absent_span, @grade, include_blank: true %></td></tr>
    <tr><th><%= label :user, :school, '学校名' %> </th><td><%= text_field :user, :school %></td></tr>
    <tr><td colspan="2" style="padding:10px 0 10px 10%">
    <%= check_box :absence_trigger, :classroom, {}, true, false %> <%= label :absence_trigger, :classroom, '学級崩壊' %>
    <%= check_box :absence_trigger, :harm, {}, true, false %> <%= label :absence_trigger, :harm, 'いじめ' %>
    <%= check_box :absence_trigger, :antipathy, {}, true, false %> <%= label :absence_trigger, :antipathy, '学校への苦手意識' %>
    <%= check_box :absence_trigger, :teacher, {}, true, false %> <%= label :absence_trigger, :teacher, '先生との関係' %><br>
    <%= check_box :absence_trigger, :friendship, {}, true, false %> <%= label :absence_trigger, :friendship, '友人関係' %>
    <%= check_box :absence_trigger, :study, {}, true, false %> <%= label :absence_trigger, :study, '勉強' %>
    <%= check_box :absence_trigger, :change_school, {}, true, false %> <%= label :absence_trigger, :change_school, '転校・転勤' %>
    <%= check_box :absence_trigger, :neglect, {}, true, false %> <%= label :absence_trigger, :neglect, '育児放棄' %>
    <%= check_box :absence_trigger, :dv, {}, true, false %> <%= label :absence_trigger, :dv, '家庭内暴力' %><br>
    <%= check_box :absence_trigger, :friendship, {}, true, false %> <%= label :absence_trigger, :friendship, '友人関係' %>
    <%= check_box :absence_trigger, :poverty, {}, true, false %> <%= label :absence_trigger, :poverty, '経済的理由' %>
    <%= check_box :absence_trigger, :parents, {}, true, false %> <%= label :absence_trigger, :parents, '離婚などの親同士の関係' %>
    <%= check_box :absence_trigger, :no_reason, {}, true, false %> <%= label :absence_trigger, :no_reason, 'なんとなく' %>
    </td></tr>
    <tr><th><%= label :user, :profile, '自己紹介' %></th><td> <%= text_area :user, :profile %></td></tr>
    <tr><th><%= label :user, :avatar, 'プロフィール画像' %></th><td><%= file_field :user, :avatar, size:'100x20' %></td></tr>
    
</table>
<div class="btn-touroku">
<%= submit_tag('登録') %>
</div>
    <% end %>
</div>