<div class="nav">
    <%= link_to 'TOP', root_path %> > <%= link_to 'マイページ', user_path(current_user.id) %>
</div>
<div class="user-show-profile">
    <h1>登録情報の編集</h1>
    <ul>
        <%= form_for(@user) do |f| %>
        <li><%= f.label :name, '氏名' %>: （姓）<%= f.text_field :family_name %> （名）<%= f.text_field :first_name %></li>
        <li><%= f.label :name_kana, 'フリガナ' %>: （姓）<%= f.text_field :family_name_kana %> （名）<%= f.text_field :first_name_kana %></li>
        <li><%= f.label :job, '職業' %>: <%= f.select :job, @job %></li>
        <li><%= f.label :area, '住所' %>: <%= f.select :area, @area %> <%= f.text_field :address %></li>
        <li><%= f.label :tel, '電話番号' %>: <%= f.text_field :tel %></li>
        <li><%= f.label :line_id, 'LINE ID' %>: <%= f.text_field :line_id %></li>
        <li><%= f.label :price, '単価' %>: <%= f.number_field :price %>円</li>
        <li><%= f.label :about, '一言' %>: <%= f.text_field :about, size: 80, maxlength: 80 %></li>
        <li><%= f.label :profile, 'プロフィール' %>:<br />
        <%= f.text_area :profile, size: "80x10" %></li>
        <%= f.submit('編集')%>
        <% end %>
    </ul>
</div>
