<div class="user-show-profile">
  <h1>新規登録</h1>
    <table class="table table-bordere">
     <%= form_tag confirm_register_users_path do %>
       <tr>
        <th>メールアドレス</th>
        <td><%= current_user.email %></td>
       </tr>
       <tr>
        <th><%= label :user, :username, 'ニックネーム' %></th>
        <td><%= text_field :user, :username, autofocus: true %>
        <p>※名前を公開したくない方はニックネームを入力して下さい</p></td>
      </tr>
      <tr>
        <th><%= label :user, :sex, '性別' %></th>
        <td><%= select :user, :sex, @param_sex %></td>
      </tr>
      <tr>
        <th><%= label :user, :birth, '生年月日' %></th>
        <td><%= date_field :user, :birth, min: "1900-01-01", max: Date.today %></td>
      </tr>
      <tr>
        <th><%= label :user, :user_type, '登録形態' %></th>
        <td><%= select :user, :user_type, @user_type_params %></td>
     </tr>
     </table>
    
                        <%= submit_tag('確認') %>
                    
                <% end %>
</div>
