<div class="nav">
    <%= link_to 'TOP', root_path %> > <%= link_to 'マイページ', user_path(current_user.id) %>
</div>
<div class="user-show-profile">
    <h1>現在の登録情報</h1>
    <ul>
        <li>User ID: <%= current_user.id %></li>
        <li>氏名: <%= current_user.name %></li>
        <li>ユーザー名: <%= current_user.username %></li>
        <li>性別: <%= current_user.sex %></li>
        <li>年齢: <%= current_user.age %>歳</li>
    <% if current_user.user_type == 1 %>
        <li>学年: <%= current_user.grade %></li>
    <% else %>
        <li>職業: <%= current_user.job %></li>
    <% end %>
        <li>地域: <%= current_user.area %></li>
        <li>住所: <%= current_user.address %></li>
        <li>電話番号: <%= current_user.tel %></li>
        <li>LINE ID: <%= current_user.line_id %></li>
        <li>プロフィール: <p><%= simple_format(current_user.profile) %></p></li>
    </ul>
    <% if current_user.user_type == 3 %>
    <h2>チケット情報</h2>
    <ul>
      <li>更新日：<%= @ticket.updated_at.strftime("%Y年%m月%d日 %H時%M分") %></li>
      <li>チケット名：<%= @ticket.title %></li>
      <li>都道府県：<%= @ticket.area %></li>
      <li>場所：<%= @ticket.place %></li>
      <li>価格：<%= number_to_currency(@ticket.price) %></li>
      <li>時間：<%= @ticket.length %>時間</li>
      <li>評価：☆<%= @reputation %></li>
    </ul>
    <% @accounts.each.with_index(1) do |account, i| %>
    <h2>口座情報（<%= i %>）</h2>
    <p><%= link_to '削除', account_path(account.id), method: :delete %></p>
    <ul>
        <li>金融機関名：<%= account.bank_name %>銀行</li>
        <li>支店名：<%= account.store_name %>支店</li>
        <li>口座番号：<%= account.account_id %></li>
        <li>口座名義：<%= account.user_name %></li>
    </ul>
    <% end %>
    <% end %>
</div>
<div class="user-show-edit-btn">
    <ul>
        <li><%= link_to 'メッセージボックス', messages_path %></li>
        <li><%= link_to 'ダイアリーを書く', new_diary_path %></li>
        <li><%= link_to 'ダイアリーを読む', diaries_path %></li>
    </ul>
    <ul>
        <li><%= link_to '申込管理', offers_path %></li>
    <% if current_user.user_type != 3 %>
        <li><%= link_to 'サポーターを検索', supporters_path %></li>
    <% else %>
        <li><%= link_to '振込口座を登録', account_users_path %></li>
        <li><%= link_to 'チケットを編集', edit_ticket_path(current_user.ticket.id) %></li>
    <% end %>
    </ul>
    <div class="clear"></div>
    <ul>
        <li><%= link_to '見え方を確認', supporter_path(params[:id]) %></li>
        <li><%= link_to 'アカウント情報を編集', edit_user_registration_path %></li>
        <li><%= link_to 'プロフィールを編集', edit_user_path(current_user.id) %></li>
    </ul>
    <% if current_user.user_type == 3 %>
    <ul>
        <li><%= link_to '出金履歴', payments_path %></li>
        <li><%= link_to '売上を出金', new_payment_path %></li>
    </ul>
    <% end %>
</div>
<div class="clear" style="padding-bottom: 20px"></div>