<div class="nav">
    <%= link_to 'TOP', root_path %> > <%= link_to 'チケット一覧', tickets_path %> > <%= link_to @ticket.title , ticket_path(@ticket.id) %> > <%= link_to '編集' , edit_ticket_path %>
</div>

<div class="ticket-edit">
<h1>チケットを編集</h1>
<%= form_for @ticket do |f| %>
    <div class="field">
        <%= f.label :title, 'チケット名' %><br />
        <%= f.text_field :title, size: 50 %>
    </div>

    <div class="field">
        <%= f.label :price, '価格' %><br />
        <%= f.number_field :price %>円
    </div>

    <div class="field">
        <%= f.label :rate, '寄付率' %><br />
        <%= f.select :rate, [['100%',100], ['90%',90], ['80%',80], ['70%',70], ['60%',60], ['50%',50], ['40%',40], ['30%',30], ['20%',20], ['10%',10]] %>
    </div>

    <div class="field">
        <%= f.label :length, '時間' %><br />
        <%= f.select :length, [1, 1.5, 2, 2.5, 3, 3.5] %>時間
    </div>

    <div class="field">
        <%= f.label :area, '場所' %><br />
        <%= f.select :area, @area %> <%= f.text_field :place, size: 50 %>
    </div>

    <div class="field">
        <%= f.label :message, 'メッセージ' %><br />
        <%= f.text_area :message, size: "80x10" %>
    </div>
    
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.submit %>
<% end %>
</div>