<div class="nav">
    <%= link_to 'TOP', root_path %> > <%= link_to 'チケット一覧', tickets_path %>
</div>
<div class="ticket-index">
    <h1>チケット一覧</h1>
    <%= link_to '新規発行', new_ticket_path %>
    <% @tickets.each.with_index(1) do |tk, i| %>
    <div class="ticket-index-item">
        <div class="ticket-index-image">
        <h2><%= link_to tk.title, ticket_path(tk.id) %></h2>
        <% if tk.user.avatar.present? %>
            <%= image_tag(tk.user.avatar(:thumb)) %>
        <% else %>
            <p>No Image</p>
        <% end %>
        </div>
        <div class="ticket-index-data">
            <p><%= tk.area %></p>
            <p><%= number_to_currency(tk.price) %></p>
            <p>by <%= tk.user.name %></p>
        </div>
    </div>
    <% end %>
</div>

