<div class="ticket-show">
    <h1>チケット情報</h1>
    <div class="field">
        <h3>シェアする時間 <%= @ticket.length %>時間</h3>
    </div>
    <div class="field">
        <h3>最低価格 <%= @ticket.price %>円</h3>
    </div>
    <div class="field">
        <h3>サービス手数料割合 <%= @ticket.rate %>%</h3>
    </div>
    <div class="field">
        <h3>チケットのタイトル 「<%= @ticket.title %>」</h3>
    </div>
    <div class="field">
        <h3>エリア <%= @ticket.area %></h3>
    </div>
    <div class="field">
        <h3>場所 <%= @ticket.place %></h3>
    </div>
    <div class="field">
        <h3>詳しい説明 <%= @ticket.message %></h3>
    </div>
    </div><!--ticket-show-->