<div class="nav">
    <%= link_to 'TOP', root_path %> > <%= link_to 'チケット一覧', tickets_path %> > <%= link_to @ticket.title , ticket_path(params[:id]) %>
</div>
<div class="ticket-show">
    <h1>チケットの閲覧</h1>
    <ul>
      <li>発行日：<%= @ticket.created_at.strftime("%Y年%m月%d日 %H時%M分") %></li>
      <li>発行者：<%= link_to @seller.name, supporter_path(@ticket.user_id) %></li>
      <li>チケット名：<%= @ticket.title %></li>
      <li>都道府県：<%= @ticket.area %></li>
      <li>場所：<%= @ticket.place %></li>
      <li>価格：<%= number_to_currency(@ticket.price) %></li>
      <li>時間：<%= @ticket.length %>時間</li>
    </ul>
</div>
<div class="menu-btn-3">
    <ul>
      <li><%= link_to '編集', edit_ticket_path(@ticket.id) %></li>
      <li><%= link_to '削除', ticket_path(@ticket.id), method: :delete %></li>
      <li><%= link_to '戻る', :back %></li>
    </ul>
    <div class="clear"></div>
</div>