<div class="nav">
    <%= link_to 'TOP', root_path %> > <%= link_to 'マイページ', user_path(current_user.id) %> > 出金履歴
</div>
<div class="payment-new">
    <% if @notice.present? %>
        <p style="color: red; font-weight: bold;"><%= @notice %></p>
    <% end %>
    <h1>売上を出金</h1>
    <p>現在、あなたの総売上額は<%= number_to_currency(@sales) %>です。</p>
    <p>現在、あなたの出金可能額は<%= number_to_currency(@balance) %>です。</p>
    
    <%= form_for(@payment) do |f| %>
        <% if @balance >= 3000 %>
            <% @accounts.each.with_index do |account, i| %>
                <% if i == 0 %>
                <p><%= radio_button_tag :account_id, account.id, checked: true %> <%= "#{account.bank_name}銀行 #{account.store_name}支店 #{account.user_name} #{account.account_id}" %></p>
                <% else %>
                <p><%= radio_button_tag :account_id, account.id %> <%= "#{account.bank_name}銀行 #{account.store_name}支店 #{account.user_name} #{account.account_id}" %></p>
                <% end %>
            <% end %>
            <%= f.number_field :amount, min: 2500, max: @balance %>円
            <%= f.hidden_field :user_id, value: current_user.id %>
            <div class="clear"></div>
            <%= f.submit('出金申請') %>
        <% else %>
            <p style="color: red; font-weight: bold;">残高が3,000円以上ないと出金できません。</p>
            <p style="color: red; font-weight: bold;">現在の残高：<%= number_to_currency(@balance) %></p>
        <% end %>
    <% end %>
    <p>※一度に出金できる金額は2,500円以上からです。</p>
    <p>※出金の際には振込手数料として500円が残高から差し引かれます。</p>
</div>