<p>「<%= @ticket.title %>」を購入しますか？</p>
<% if @user.avatar? %>
<p><%= link_to image_tag(@user.avatar(:thumb)), supporter_path(@user.id) %></p>
<% else %>
<p><%= link_to image_tag('top/clue.png'), supporter_path(@user.id) %></p>
<% end %>
<p>by <%= link_to @user.username, supporter_path(@user.id) %></p>

<%= form_for(@offer) do |f| %>
    <%= f.label :meet_at, '日時' %> <%= f.datetime_select :meet_at, start_year: Date.today.year, minute_step: 15 %><br />
    <%= @ticket.length %>時間 <%= number_to_currency(@ticket.price) %><br />
    <%= @ticket.area %> <%= @ticket.place %><br />
    <%= f.label :message, 'メッセージ' %><br />
    <%= f.text_area :message, size: '80x10' %><br />
    <%= f.hidden_field :ticket_id, value: @ticket.id %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :price, value: @ticket.price %>
    <%= f.hidden_field :length, value: @ticket.length %>
    <%= f.hidden_field :area, value: @ticket.area %>
    <%= f.hidden_field :place, value: @ticket.place %>
    <%= f.hidden_field :rate, value: @ticket.rate %>
    <%= f.hidden_field :status, value: 1 %>
    <%= f.submit '申し込み', :id=>"customButton" %>
<% end %>

<script src="https://checkout.spike.cc/v1/checkout.js"></script>
<script>
$(function(){

    // SPIKE Checkoutのインスタンスを生成する
    var handler = SpikeCheckout.configure({
      key: "pk_test_TYrS1YPKszJQMAYbJs5MofLS",
      token: function(token) {
        $('<input>')
        .attr('type', 'hidden')
        .attr('name', 'card_token')
        .val(token.id)
        .appendTo($('#new_offer'));
        $('#new_offer').submit();
      },
      opened: function() {
      },
      closed: function() {
      }
    });

    // カード情報を入力するオーバーレイを開く処理
    $('#customButton').on('click',function(e){
        handler.open({
          name: "Clue Ticket Payment",
          currency: "JPY",
          email: "<%=current_user.email%>",
          amount: "<%=@ticket.price%>"
        });
        e.preventDefault();
    });
});
</script>
