<div class="nav">
    <%= link_to 'TOP', root_path %> > <%= link_to '先輩を探す', supporters_path %>
</div>

<%#= render 'shared/search_condition' %>

<div class="supporters-index-profiles">
  <% @supporters.each do |sp| %>
  <div class="supporters-index-profile">
    <div class="supporters-index-image">
      <% if sp.avatar.present? %>
      <%= link_to image_tag(sp.avatar(:thumb)), supporter_path(sp.id) %>
      <% else %>
      <%= link_to image_tag('top/clue.png', class: "no-image"), supporter_path(sp.id) %>
      <% end %>
      <p class="area"><%= sp.area %></p>
    </div>
    <div class="supporters-index-data">
      <p><%= link_to sp.username, supporter_path(sp.id) %></p>
      <p><%= sp.job %></p>
      <p><%= link_to sp.ticket.title, supporter_path(sp.id) %></p>
    </div>
  </div>
  <% end %>
<div class="clear"></div>
</div>