<div class="nav">
    <%= link_to 'TOP', root_path %> > <%= link_to 'サポーターを探す', supporters_path %>
</div>

<div class="supporters-index">
  <h1>サポーターを探す</h1>
  <%= form_tag search_supporters_path do %>
    <input type="text" name="keyword" placeholder="プロフィール">
    <%= select_tag :area, options_for_select(@area), include_blank: true %><br />
    <%= select_tag :sex, options_for_select(["男", "女", "他"]), include_blank: true %>
    <%= number_field_tag :min_age %>歳〜<%= number_field_tag :max_age %>歳<br />
    <%= select_tag :absence_trigger, options_for_select(@trigger), include_blank: true %>
    <button type="submit">検索</button>
  <% end %>
  <% if @param_keyword.present? || @param_min_age.present? || @param_max_age.present? || @param_area.present? || @param_sex.present? %>
    <h2>検索条件</h2>
    <%= @param_area %> <%= @param_min_age %> <%= @param_max_age %> <%= @param_sex %> <%= @param_keyword %>
  <% end %>
</div>

<div class="supporters-index-profiles">
  <% @supporters.each do |sp| %>
  <div class="supporters-index-profile">
    <div class="supporters-index-image">
      <% if sp.avatar.present? %>
      <%= link_to image_tag(sp.avatar(:thumb)), supporter_path(sp.id) %>
      <% else %>
      <%= link_to image_tag('top/clue.png', class: "no-image"), supporter_path(sp.id) %>
      <% end %>
      <p class="area"><%= sp.area %></p>
    </div>
    <div class="supporters-index-data">
      <p><%= link_to sp.username, supporter_path(sp.id) %></p>
      <p><%= sp.job %></p>
      <p><%= link_to sp.ticket.title, supporter_path(sp.id) %></p>
    </div>
  </div>
  <% end %>
<div class="clear"></div>
</div>