<div class="nav">
    <%= link_to 'TOP', root_path %> > <%= link_to 'サポーターを探す', supporters_path %> > <%= link_to @supporter.name , supporters_path %>
</div>

<div class="user-show-profile">
    <h1>サポーター情報</h1>
    <ul>
        <li>Supporter ID: <%= @supporter.id %></li>
        <li>氏名: <%= @supporter.name %></li>
        <li>地域: <%= @supporter.area %></li>
        <li>性別: <%= @supporter.sex %></li>
        <li>年齢: <%= @supporter.age %>歳</li>
        <li>プロフィール: <p><%= simple_format(@supporter.profile) %></p></li>
    </ul>
</div>
<div class="user-show-edit-btn">
    <ul>
        <li><%= link_to 'メッセージを送る', new_message_path(receiver_id: @supporter.id) %></li>
        <li><%= link_to 'メッセージボックス', messages_path %></li>
        <li><%= link_to 'チケット', search_tickets_path(user_id: @supporter.id) %></li>
    </ul>
</div>
<div class="clear"></div>