<div class="collapse navbar-collapse" id="site-menu">
    <ul class="nav navbar-nav navbar-right">
        <li><%= link_to '新着情報投稿', new_managers_event_path %></li>
        <li><%= link_to '新着情報管理', managers_events_path %></li>
        <li><%= link_to 'ユーザー管理', managers_users_path %></li>
        <li><%= link_to 'メッセージ管理', managers_messages_path %></li>
        <li><%= link_to '収支管理', managers_account_path %></li>
        <li><%= link_to '通報アカウント管理', managers_report_path %></li>
        <li><%= link_to '', destroy_user_session_path, method: :delete, class: "fa fa-sign-out fa-2x header-menu", data: {toggle: "tooltip", placement: "bottom" }, title: "ログアウト" %></li>
    </ul>
</div><!-- /.navbar-collapse -->
