<footer style="background-color: #4a4a4a;">
  
   <div class="footer-clueline" ></div>
  <div class="container">

<div class="container">
  <div class="row">
  <div class="col-sm-4">
    <div class="footer-menu-left" style="padding:30px;">
      <p style="color:#ffffff;">Clueについて</p>
      <ul>
        <li><%= link_to '> Clueとは', about_path %></li>
        <li><%= link_to '> 利用規約', terms_path %></li>
        <li><%= link_to '> プライバシーポリシー', privacy_path %></li>
        <li><%= link_to '> 特定商取引法に基づく表記', legal_path %></li>
        <li><%= link_to '> お問い合わせ', contact_path %></li>
      </ul>
    </div>
    </div>
    <div class="col-sm-4">
    <div class="footer-menu-center" style="padding:30px;">
      <p><%= link_to '会社概要', about_path %></p>
      <p style="color:#ffffff;">公式アカウントをフォロー</p>
      <p><%= link_to image_tag('top/asset.f.logo.lg.png') %><%= link_to 'Facebook' %></p>
      <p class="p1"><%= link_to image_tag('top/t.png') %> <%= link_to 'Twitter' %></p>
    </div>
    </div>
    <div class="col-sm-4">
    <div class="footer-menu-right" style="padding:30px;">
      <h3 style="color: #9b9494; font-size: 1.5em;">Our Vision</h3>
      <p style="color:#ffffff;">「学校に行けなくなった子たちに縦の社会をつくる」</p>
      <p style="color:#ffffff;">未来に生きる希望が欲しいけど、希望が持てない。同じ境遇を経験した先輩、カウンセラーなどを繋ぐサイトを目指しています。</p>
    </div>
  </div>
  <center><div class="col-sm-12">
  <p class="copyright" style="color:#ffffff;">© <%= Date.today.year %> Mariannne Inc.</p></center>
</div>
</div>
</div>
</div>

</footer>
