              <div class="collapse navbar-collapse" id="site-menu">
                <ul class="nav navbar-nav navbar-right">
                  <% if !user_signed_in? || current_user.user_type != 3 %>
                    <li>
                      <%= link_to "#search_supporters", class: "fancybox" do %>
                        先輩を探す
                        <span class="caret"></span>
                      <% end %>
                    </li>
                    <li>
                      <%= form_tag search_supporters_path, class: "navbar-form", method: :get do %>
                        <input type="text" name="keyword" placeholder="先輩を検索" class="form-control">
                        <button type="submit" class="btn btn-default">検索</button>
                      <% end %>
                    </li>
                  <% elsif current_user.user_type == 3 %>
                    <li>
                      <%= link_to "#search_students", class: "fancybox" do %>
                        生徒を探す
                        <span class="caret"></span>
                      <% end %>
                    </li>
                    <li>
                      <%= form_tag search_students_path, class: "navbar-form", method: :get do %>
                        <input type="text" name="keyword" placeholder="生徒を検索" class="form-control">
                        <button type="submit" class="btn btn-default">検索</button>
                      <% end %>
                    </li>
                  <% end %>
  
                  <% unless user_signed_in? %>
                    <li>
                    <%= form_tag new_user_session_path, class: "navbar-form", method: :get do %>
                      <% unless current_page?(new_user_session_path) %>
                        <button type="submit" class="btn btn-default">ログイン</button>
                      <% else %>
                        <button type="submit" class="btn btn-default" style="visibility:hidden;">ログイン</button>
                      <% end %>
                    <% end %>
                    </li>
                  <% else %>
                    <li>
                      <%= link_to events_path, data: {toggle: "tooltip", placement: "bottom" }, title: "新着情報", :method => :get do %>
                        <i class="fa fa-newspaper-o"></i> 新着情報
                      <% end %>
                    </li>
                    <li>
                      <%= link_to messages_path, data: {toggle: "tooltip", placement: "bottom" }, title: "メッセージ", :method => :get do %>
                        <i class="fa fa-comments-o"></i> メッセージ
                      <% end %>
                    <li>
                      <%= link_to "#my_page_menu", class: "fancybox" do %>
                        マイページ
                        <span class="caret"></span>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to destroy_user_session_path, class:"header-menu", data: {toggle: "tooltip", placement: "bottom" }, title: "ログアウト", :method => :delete do %>
                        <i class="fa fa-sign-out"></i> ログアウト
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </div><!-- /.navbar-collapse -->
