<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="不登校,clue,不登校支援,引きこもり,不登校マッチング,元不登校">
    <meta name="description" content="clueは不登校生・親＝元不登校生を繋ぐマッチングするサイトです。">
    <title>Clue| 不登校生のためのマッチングサイト</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="wrap">
      <header>
        <nav class="navbar navbar-default">
          <div style="background-image: url(<%= asset_path 'top/clueline.png' %>); background-repeat:repeat-x; cover; background-position: top; !important;">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" datatarget="#site-menu">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <div class="clue-logo">
                  <a class="navbar-brand" href="/"></a>
                </div>
              </div>
              <%= render partial: "layouts/user_menu" %>
            </div><!-- /.container-fluid -->
          </div><!-- /style="background-image -->
        </nav>
      </header>
      <%= render partial: "layouts/search_lightbox" %>
      <%= render partial: "layouts/my_page_lightbox" %>
      
      <div class="notice"><%= notice %></div>
      <div class="alert"><%= alert %></div>
      <%= yield %>

      <%= render partial: "layouts/footer" %>
    </div>
  
    <script>
    //フッター下固定の際、表示されているフッターの高さの分、本文の下をあける
    $(document).ready(function () {
      hsize = $("footer").height();
     $("#wrap").css("padding-bottom", hsize );
     });
     $(window).resize(function () {
      hsize = $("footer").height();
      $("#wrap").css("padding-bottom", hsize);
     });
    </script>
  </body>
</html>
